@page
@using Volo.AbpWebSite
@model Volo.AbpWebSite.Pages.CliModel
@{
    Layout = "~/Pages/Shared/Layout.cshtml";
    ViewBag.FluidLayout = false;
    ViewBag.PageTitle = "ABP CLI";
}

<section class="section">
    <div class="container" style="margin-top: -88px !important;">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="tab-content get-started-tab" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <h2>
                            <span class="text-primary">安装</span>
                            <span class="text-success">ABP CLI</span>

                        </h2>
                        <p>ABP CLI是使用ABP框架启动新解决方案的最快方法. 使用命令行窗口安装ABP CLI:</p>
                        <pre class="language-markup">
                        <code>
                                dotnet tool install -g Volo.Abp.Cli
                            </code>
                        </pre>

                        <h2>
                            <span class="text-primary">创建</span>
                            <span class="text-success">新的解决方案</span>
                        </h2>
                        <pre class="language-markup">
                        <code>
                            abp new Acme.BookStore
                            </code>
                        </pre>
                        <p><em>你可以使用不同级别的命名空间; 例如: BookStore,Acme.BookStore,Acme.Retail.BookStore.</em></p>
                        <p>
                            <strong>new </strong>命令使用<strong>Entity Framework Core</strong>作为数据库提供程序创建<strong>分层MVC应用程序. </strong>它还有其他选择. 例如：
                        </p>

                        <pre class="language-markup">
                        <code>
                        <span style="color:#aaa;opacity: .4"># 使用MongoDB作为数据库提供程序</span>
                            abp new Acme.BookStore -d mongodb
                        </code>
                        </pre>

                        <pre class="language-markup">
                        <code>
                        <span style="color:#aaa;opacity: .4"># 基于分层体系结构创建解决方案</span>
                            abp new Acme.BookStore --tiered
                        </code>
                        </pre>

                        <pre class="language-markup"><code>
                        <span style="color:#aaa; opacity: .4"># 创建模块模板</span>
                            abp new Acme.BookStore.Payment -t mvc-module
                        </code>
                        </pre>
                        <br />
                        有关所有可用模板和选项，请参阅<a href="/documents/abp/latest/CLI">CLI 文档</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
