@page
@model Volo.AbpWebSite.Pages.IndexModel
@{
    Layout = "~/Pages/Shared/HomePageLayout.cshtml";
    ViewBag.FluidLayout = false;
}

<div class="jumbotron text-center text-light">
    <div class="row align-items-center">
        <div class="col">

            <div class="container">
                <h1 class="display-1">
                    <span class="position-relative jlogo-wrapper">
                        <img src="assets/abp-logo-light.svg" class="jumbotron-logo"> <span class="abp-version">PREVIEW</span>
                    </span>
                </h1>
                <h2 class="display-6">ABP <span class="text-underline text-success">开源</span> Web应用程序框架</h2>
                <p><span class="desc-span">for asp.net core</span></p>
                <hr class="my-4">
                <p>
                    <a class="btn btn-outline-light btn-md" href="/documents" role="button">
                        框架入门
                    </a>
                    &nbsp;
                    <a class="btn btn-success btn-md" href="/Cli" role="button">
                        创建新项目
                        <i class="fa fa-long-arrow-right"></i>
                    </a>
                </p>
                <p>
                    查看 <a class="btn-link text-success" href="https://github.com/volosoft/abp/releases">
                            更新日志
                        </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="position-relative overflow-hidden text-center bg-white  p-responsive">
    <div class="container">
        <div class="col-md-8 mx-auto m-0">
            <img class="section-icon mb-5" src="img/modular.png" />
            <h2 class="text-primary">完整的应用程序开发基础设施</h2>
            <p class="font-weight-normal">ABP为现代Web应用程序提供了全栈的开发模型和基础设施.</p>        </div>
        <div class="row pb-5">
            <div class="col-md-4">
                <div class="p-4">
                    <img class="subsection-icon mb-3" src="assets/icons/1-modular.png" />
                    <h3 class="text-primary display-6">模块化架构</h3>
                    <p class="font-weight-normal">模块化设计,可从底到顶进行延伸.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-4">
                    <img class="subsection-icon mb-3" src="assets/icons/2-micro.png" />
                    <h3 class="text-primary display-6">聚焦微服务</h3>
                    <p class="font-weight-normal">支持微服务架构有助于构建自主微服务.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-4">
                    <img class="subsection-icon mb-3" src="assets/icons/3-ddd.png" />
                    <h3 class="text-primary display-6">领域驱动设计</h3>
                    <p class="font-weight-normal">根据DDD模式和原则设计和开发.为应用程序提供分层模型.</p>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-4">
                <div class="p-4">
                    <img class="subsection-icon mb-3" src="assets/icons/4-autho.png" />
                    <h3 class="text-primary display-6">授权</h3>
                    <p class="font-weight-normal">具有用户,角色和细粒度权限系统的高级授权系统. 构建在Microsoft Identity框架.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-4">
                    <img class="subsection-icon mb-3" src="assets/icons/5-multi-tenancy.png" />
                    <h3 class="text-primary display-6">多租户</h3>
                    <p class="font-weight-normal">SaaS应用程序开发变得简单!从数据库到UI的集成多租户.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-4">
                    <img class="subsection-icon mb-3" src="assets/icons/cross.png" />
                    <h3 class="text-primary display-6">横切关注点</h3>
                    <p class="font-weight-normal">完整的基础架构,用于授权,验证,异常处理,缓存,审计日志记录,事务管理等.</p>
                </div>
            </div>
        </div>
        <div class="toggle-row">
            <div class="row pb-5">
                <div class="col-md-4">
                    <div class="p-4">
                        <img class="subsection-icon mb-3" src="assets/icons/bundle.png" />
                        <h3 class="text-primary display-6">内置Bundling & Minification</h3>
                        <p class="font-weight-normal">无需使用外部工具进行Bundling & Minificatio, ABP提供更简单,动态,强大,模块化的内置的方式!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-4">
                        <img class="subsection-icon mb-3" src="assets/icons/virtualfile.png" />
                       <h3 class="text-primary display-6">虚拟文件系统</h3>
                        <p class="font-weight-normal">将views, scripts, styles, images等嵌入到packages/libraries中,并在不同的应用程序中重用.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-4">
                        <img class="subsection-icon mb-3" src="assets/icons/theming.png" />
                        <h3 class="text-primary display-6">主题</h3>
                        <p class="font-weight-normal">使用和自定义基于bootstrap的标准UI主题或创建属于自己的主题.</p>
                    </div>
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-md-4">
                    <div class="p-4">
                        <img class="subsection-icon mb-3" src="assets/icons/bg-job.png" />
                        <h3 class="text-primary display-6">后台作业</h3>
                        <p class="font-weight-normal">内置后台作业系统,可以集成到Hangfire,RabbitMQ或任何你喜欢的工具.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-4">
                        <img class="subsection-icon mb-3" src="assets/icons/custom.png" />
                        <h3 class="text-primary display-6">可测试和可定制</h3>
                        <p class="font-weight-normal">帮助构建可测试的应用程序.易于更换/覆盖内置的各种服务.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-4">
                        <img class="subsection-icon mb-3" src="assets/icons/request.png" />
                        <h3 class="text-primary display-6"> HTTP API和动态代理</h3>
                        <p class="font-weight-normal">自动将应用程序服务公开为REST风格的HTTP API,并使用动态JavaScript和C＃代理.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="p-4">
                    <a href="javascript:;" class="btn btn-outline-primary btn-toggle">
                        <span class="moreText">查看更多特性</span>
                        <span class="lessText">收缩特性</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-relative  overflow-hidden text-center bg-primary text-light p-responsive">
    <div class="container">
        <div class="col-md-10 mx-auto">
            <img class="section-icon mb-5" src="img/multi-tenancy.png" />
            <div class="row">
                <div class="col-md-6 mb-5">
                    <img src="img/mt-left.png" />
                </div>
                <div class="col-md-6 text-left multi-tenancy">
                    <h2 class="text-success mt-3">多租户</h2>
                    <p class="font-weight-normal">
                        ABP框架不仅支持开发多租户应用程序,还能使你的代码更少的了解租户.
                    </p>
                    <p class="font-weight-normal">
                        可以自动确定当前租户,隔离不同租户的数据.
                    </p>
                    <p class="font-weight-normal">
                        支持单个数据库,租户独立的数据库和混合方法.
                    </p>
                    <p class="font-weight-normal">
                        你只需专注于业务代码,让框架代表你处理多租户.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-relative overflow-hidden text-center bg-success text-light p-responsive">
    <div class="container">
        <div class="col-md-7 mx-auto">
            <img class="section-icon mb-5" src="img/bootstrap.png" />
            <h2 class="text-light">Bootstrap Tag Helpers</h2>
            <p class="font-weight-normal text-light">
                    代替手动编写重复的bootstrap组件,使用ABP的Tag Helpers来简化这个过程并可以利用代码的智能感知.
            </p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg">
                <div class="code-block">
                    <pre class="line-numbers"> 
                        <code class="language-html">
                            &lt;abp-card&gt;
                                &lt;img abp-card-image="Top" src="~/images/my-dog.png" /&gt;
                                &lt;abp-card-body&gt;
                                    &lt;abp-card-title&gt;卡片标题&lt;/abp-card-title&gt;
                                    &lt;abp-card-text&gt;
                                        &lt;p&gt;
                                            这是一个由Abp Bootstrap Card Tag Helper构建的示例卡组​​件.
                                            Abp为大多数Bootstrap组件提供了标记辅助包装器.
                                        &lt;/p&gt;
                                    &lt;/abp-card-text&gt;
                                    &lt;a abp-button="Primary" href="#"&gt;按钮 &amp;rarr;&lt;/a&gt;
                                &lt;/abp-card-body&gt;
                            &lt;/abp-card&gt;
                        </code>
                    </pre>
                </div>
            </div>
            <div class="col-lg-1">
                <span class="code-arrow">
                    <i class="fa fa-long-arrow-right"></i>
                </span>
            </div>
            <div class="col-lg text-dark">
                <div class="abp-browser">
                    <div class="browser-container">
                        <div class="browser-row">
                            <div class="browser-column">
                                <span class="browser-dot" style="background:#ED594A;"></span>
                                <span class="browser-dot" style="background:#FDD800;"></span>
                                <span class="browser-dot" style="background:#5AC05A;"></span>
                            </div>
                        </div>

                        <div class="browser-content">
                            <abp-card>
                                <img abp-card-image="Top" src="assets/my-image.png" />
                                <abp-card-body>
                                    <abp-card-title>卡片标题</abp-card-title>
                                    <abp-card-text>
                                        <p>
                                            这是一个由Abp Bootstrap Card Tag Helper构建的示例卡组​​件. <br />
                                            Abp为大多数Bootstrap组件提供了标记辅助包装器.
                                        </p>
                                    </abp-card-text>
                                    <a abp-button="Primary" href="#">按钮 &rarr;</a>
                                </abp-card-body>
                            </abp-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-relative overflow-hidden text-center bg-white  p-responsive">
    <div class="container">
        <div class="col-md-7  mx-auto">
            <img class="section-icon mb-5" src="assets/dynamic.png" />
            <h2 class="text-primary">动态表单</h2>
            <p class="font-weight-normal">
                动态表单和输入标记可以从C＃类创建完整的表单作为模型.
            </p>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg">
                <div class="code-block">
                    <pre class="line-numbers" data-line=""> 
                    <code class="language-xml">
&lt;abp-dynamic-form abp-model="@@Model.PersonInput" submit-button="true" /&gt;
                        </code>
                    </pre>
                </div>
                <div class="code-block">
                    <pre class="line-numbers" data-line=""> 
                    <code class="language-csharp">
public class PersonModel
{
    [HiddenInput]
    public Guid Id { get; set; }

    [Required]
    [EmailAddress]
    [StringLength(255)]
    public string Email { get; set; }

    [Required]
    [StringLength(32)]
    [DataType(DataType.Password)]
    public string Password { get; set; }

    [StringLength(255)]
    public string Address { get; set; }

    public Gender Gender { get; set; }
}
                        </code>
                    </pre>
                </div>
            </div>
            <div class="col-lg-1">
                <span class="code-arrow">
                    <i class="fa fa-long-arrow-right"></i>
                </span>
            </div>
            <div class="col-lg">
                <div class="abp-browser">
                    <div class="browser-container">
                        <div class="browser-row">
                            <div class="browser-column">
                                <span class="browser-dot" style="background:#ED594A;"></span>
                                <span class="browser-dot" style="background:#FDD800;"></span>
                                <span class="browser-dot" style="background:#5AC05A;"></span>
                            </div>
                        </div>
                        <div class="browser-content">
                            <abp-dynamic-form abp-model="@Model.PersonInput" submit-button="true" asp-page="/Index" asp-page-handler="DynamicForm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-relative overflow-hidden text-center bg-light  p-responsive">

    <div class="container">
        <div class="col-md-7 mx-auto">
            <img class="section-icon mb-5" src="assets/multiple-db.png" />
            <h2 class="text-primary">支持多个数据库提供商</h2>
            <p class="font-weight-normal">
                核心框架是独立ORM/数据库,可以与任何数据源一起使用. EntityFramework Core和MongoDB提供程序目前可用.
            </p>
        </div>
        <div class="section-with-logos">
            <img src="assets/tools/17.png" />
            <img src="assets/tools/18.png" />
        </div>
    </div>
</div>
<div class="position-relative overflow-hidden text-center   bg-transparency  p-responsive">
    <div class="container">
        <div class="col-md-7 mx-auto">
            <img class="section-icon mb-5" src="assets/familiar.png" />
            <h2 class="text-primary">还是熟悉的工具</h2>
            <p class="font-weight-normal">建立&集成在已知的流行工具之上.</p>
        </div>
        <div class="section-with-logos">
            <img src="assets/tools/1.png" />
            <img src="assets/tools/2.png" />
            <img src="assets/tools/17.png" />
            <img src="assets/tools/7.png" />
            <img src="assets/tools/6.png" />
            <img src="assets/tools/8.png" />
            <img src="assets/tools/9.png" />
            <img src="assets/tools/10.png" />
            <img src="assets/tools/sass.png" />
            <img src="assets/tools/13.png" />
            <img src="assets/tools/15.png" />
            <img src="assets/tools/16.png" />
            <img src="assets/tools/18.png" />
            <img src="assets/tools/rabbitmq.png" />
        </div>
    </div>
</div>

