@page
@using Volo.AbpWebSite
@model Volo.AbpWebSite.Pages.TemplatesModel
@{
    ViewBag.PageTitle = "Get Started";
}
@section scripts {
    <abp-script src="/Pages/templates.js" />
    <script src="//static.geetest.com/static/tools/gt.js"></script>
    <script>
        $.ajax({
            url: "/api/Geetest?t=" + (new Date()).getTime(),
            type: "get",
            dataType: "json",
            success: function (data) {
                if (!data.success) {
                    $("#geetestOffline").val("true");
                }
                initGeetest({
                        gt: data.gt,
                        challenge: data.challenge,
                        offline: !data.success,
                        new_captcha: data.newCaptcha,

                        product: "float",
                        width: "100%"
                    },
                    function(captchaObj) {
                        captchaObj.appendTo(document.getElementById('captcha'));
                    });
            }
        });
    </script>
}


<div class="row">
    <div class="col-md-8 mx-auto">

        @using (Html.BeginForm(FormMethod.Post, htmlAttributes: new { id = "download"} ))
        {
            <div class="row border">
                <div class="col p-5 ">
                    <h2>
                        <span class="text-primary">创建</span>
                        <span class="text-success">新项目</span>

                    </h2>

                    <p>
                        该向导从启动模板创建一个已经配置好的新项目.
                    </p>
                    <div class="form-group">
                        <label for="CompanyAndProjectName">项目名称:</label>
                        <input class="form-control" name="CompanyAndProjectName" value="@Model.CompanyAndProjectName">
                        <small class="form-text text-muted">如<i>YourProjectName</i> 或 <i>YourCompanyName.YourProjectName</i>.</small>
                    </div>

                    <div class="form-group">
                        <label for="ProjectType">项目类型:</label>
                        <select class="form-control" id="ProjectType" name="ProjectType">
                            <option value="MvcApp">ASP.NET Core Mvc 应用程序</option>
                            <option value="MvcModule">ASP.NET Core Mvc 模块</option>
                        </select>
                    </div>

                    <div class="form-group" id="DatabaseProviderFormGroup">
                        <label for="DatabaseProvider">数据库提供者:</label>
                        <select class="form-control" id="DatabaseProvider" name="DatabaseProvider">
                            <option value="EntityFrameworkCore">Entity Framework Core</option>
                            <option value="MongoDb">MongoDB</option>
                        </select>
                    </div>

                    @if (DebugHelper.IsDebug)
                    {
                        <div class="form-group">
                            <label for="DatabaseProvider">版本:</label>
                            <select class="form-control" id="Version" name="Version">
                                <option value="LatestStable">最新稳定</option>
                                <option value="LatestUnstable">最新(包含预览)</option>
                                <option value="Branch:master">最新(master分支)</option>
                            </select>
                        </div>

                        <abp-input asp-for="ReplaceLocalReferencesToNuget"/>
                    }

                    <div class="form-group">
                        <label for="DatabaseProvider">验证码:</label>
                        <div id="captcha"></div>
                        <input type="hidden" name="geetest_Offline" value="false"/>
                    </div>

                    <div class="form-group mt-4">
                        <abp-button button-type="Success" size="Large" type="submit">开始创建 <i class="fa fa-long-arrow-right"></i> </abp-button>
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>

                </div>
                <div class="col-md-5 bg-light p-5">
                    <h4>启动项目</h4>
                    <p>请参阅 <a href="/documents/abp/latest/Getting-Started-AspNetCore-MVC-Template" target="_blank">文档</a> 了解如何运行下载的项目.</p>

                    <h4>教程</h4>

                    <p>请参阅 <a href="/documents/abp/latest/Tutorials/AspNetCore-Mvc/Part-I" target="_blank">教程</a> 了解如何基于ABP框架开发应用程序.</p>

                </div>
            </div>

        }

    </div>
</div>
